@model webmva.ViewModels.EditModuloVM
@{ ViewData["Title"] = "Crea modulo"; }
<div class="container">
    <h2>Moduli</h2>
    <p class="lead">
        Crea il tuo modulo personalizzato

    </p>
    <hr />


    <div class="col-md-2 sidebar">
        <div class="row">
            <!-- uncomment code for absolute positioning tweek see top comment in css -->
            <div class="absolute-wrapper"> </div>
            <!-- Menu -->
            <div class="side-menu col-6">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav" style="list-style-type:none">
                            <!-- Dropdown-->
                            <li class="nav-item dropdown" id="progetto">
                                <a>
                                    <span class="glyphicon glyphicon-barcode"></span>
                                    <strong>MODULO</strong>
                                </a>
                            <li class="nav navbar-nav" id="dropdown">
                                <a>
                                    <span class="glyphicon glyphicon-globe"></span>
                                    <strong> NETWORK</strong>
                                </a>
                                <!-- Dropdown level 1-->
                                <div class="nav-item dropdown">
                                    <div class="dropdown">

                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">

                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#Nmap">
                                                    Nmap
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.stationx.net/nmap-cheat-sheet/" target="_blank">Nmap Cheat Sheet</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#Nessus">
                                                    Nessus
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#OpenVAS">
                                                    OpenVAS
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </li>
                            <li class="nav navbar-nav" id="dropdown">
                                <a>
                                    <span class="glyphicon glyphicon-signal"></span>
                                    <strong>WEB </strong>
                                </a>
                                <!-- Dropdown level 1-->
                                <div id="web" class="nav dropdown">
                                    <div class="dropdown">

                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">

                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#Vega">
                                                    Vega
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" target="_blank">Rispettiva sitografia</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">
                                                    VEDI
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">
                                                    VEDI
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav navbar-nav" id="dropdown">
                                <a>
                                    <span class="glyphicon glyphicon-wrench"></span>
                                    <strong> CMS</strong>
                                </a>
                                <!-- Dropdown level 1-->
                                <div id="cms" class="nav-item dropdown">
                                    <div class="dropdown">

                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">

                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#droopescan">
                                                    DROOPE
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/The404Hacking/Infoga/blob/master/Screenshot.png" target="_blank">Rispettiva sitografia</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">
                                                    VEDI
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">
                                                    VEDI
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </li>
                            <li class="nav navbar-nav" id="dropdown">
                                <a>
                                    <span class="glyphicon glyphicon-stats"></span>
                                    <strong> DNS</strong>
                                </a>
                                <!-- Dropdown level 1-->
                                <div id="dns" class="nav-item dropdown">
                                    <div class="dropdown">

                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">

                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#dnsRecon">
                                                    Dnsrecon
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/darkoperator/dnsrecon" target="_blank">sito</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">
                                                    VEDI
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">
                                                    VEDI
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </li>
                            <li class="nav navbar-nav" id="dropdown">
                                <a>
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                    <strong> INFORMATION GATHERING</strong>
                                </a>
                                <!-- Dropdown level 1-->
                                <div id="database" class="nav-item dropdown">
                                    <div class="dropdown">

                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">

                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#ig"> Infoga <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                            <li>
                                                <a href="" target="_blank">RISPETTIVA SITOGRAFIA</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">VEDI  <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">VEDI  <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </li>
                            <li class="nav navbar-nav" id="dropdown">
                                <a>
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                    <strong> DATABASE</strong>
                                </a>
                                <!-- Dropdown level 1-->
                                <div id="database" class="nav-item dropdown">
                                    <div class="dropdown">

                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">

                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="" target="_blank">RISPETTIVA SITOGRAFIA</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">
                                                    VEDI
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">
                                                    VEDI
                                                    <span class="glyphicon glyphicon-play" style="font-size:65%"></span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <a>

                                </a>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>

            </div>
        </div>
    </div>

    <div class="col-6 col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#network" data-toggle="collapse">
                    <strong>
                        NETWORK
                    </strong>

                </a>
            </div>
            <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#apriNmap">
                            <strong>
                                NMAP SCAN
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse col-5" id="apriNmap">
                        <div class="panel-body">
                            <h4>
                                <strong> Configura modulo </strong>
                            </h4>
                            <hr>
                            <form asp-action="Create" name="nmapForm">
                                <input type="hidden" asp-for="@Model.NMAP.Applicazione" value="@webmva.Models.APPLICAZIONE.NMAP" />


                                <div class="col-sm-12">
                                    <div class="col-sm-7" style="margin:0 auto; float:none">
                                        <div class="form-group">
                                            <h4 asp-for="@(Model.NMAP.Nome)">Nome Modulo</h4>
                                            <input class="form-control" asp-for="@(Model.NMAP.Nome)" />
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <div class="col-sm-7" style="margin:0 auto; float:none">
                                                <div class="form-group row">
                                                    <h4 asp-for="@(Model.NMAP.ComandoPersonalizzato)">Comando Personalizzato</h4>
                                                    <input class="form-control" asp-for="@(Model.NMAP.ComandoPersonalizzato)" />
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-sm-12">
                                        <hr>
                                        <div class="col-sm-6">
                                            <h4>Scansione</h4>
                                            <hr />
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="control-label">TCP</label>
                                                </div>
                                                <select class="col-sm-5" asp-for="@Model.NMAP.TCPScan">
                                                    <option value=5>Nessuno</option>
                                                    <option value="0">SYN Scan (-sS)</option>
                                                    <option value="1">ACK Scan (-sA)</option>
                                                    <option value="2">TCP Connection Scan (-sT)</option>
                                                    <option value="3">TCP Window Scan (-sW)</option>
                                                    <option value="4">Maimon Scan (-sM)</option>
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="control-label">Non-TCP</label>
                                                </div>
                                                <select class="col-sm-5" asp-for="@Model.NMAP.NonTCPScan">
                                                    <option value="3">Nessuno</option>
                                                    <option value="0">UDP Scan (-sU)</option>
                                                    <option value="1">Elenco Scansione (-sL)</option>
                                                    <option value="2">No Port Scan (-sn)</option>
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="control-label">Temporizzazione</label>
                                                </div>
                                                <select class="col-sm-5" asp-for="@Model.NMAP.Tempo">
                                                    <option value="0">Paranoico (-T0)</option>
                                                    <option value="1">Subdolo (-T1)</option>
                                                    <option value="2">Educato (-T2)</option>
                                                    <option value="3">Normale, default (-T3)</option>
                                                    <option value="4">Aggressivo (-T4)</option>
                                                    <option value="5">Insano (-T5)</option>
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="control-label">Lista Porte</label>
                                                </div>
                                                <input type="text" class="col-sm-5" placeholder="1,2-5,444" asp-for="@Model.NMAP.ListSpecificPort" />
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5">
                                            <div class="panel panel-default panel-body">
                                                <div class="col-sm-12">
                                                    <h4>Opzioni</h4>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="form-group col-sm-6">
                                                            <label class="control-label">
                                                                <input type="checkbox" asp-for="@Model.NMAP.AllDetections" /> Tutte le scoperte (-A)
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <label class="control-label">
                                                                <input type="checkbox" asp-for="@Model.NMAP.OSdetection" /> Scopri OS (-O)
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-sm-6">
                                                            <label class="control-label">
                                                                <input type="checkbox" asp-for="@Model.NMAP.NoDNSResolution" /> No DNS Resolution (-n)
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <label class="control-label">
                                                                <input type="checkbox" asp-for="@Model.NMAP.IPv6Scan" /> IPv6 (-6)
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <hr />
                                        <div class="col-sm-6">
                                            <div class="col-sm-12">
                                                <h4>Ping</h4>
                                                <hr />
                                                <div class="form-group row">
                                                    <div class="col-sm-5">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.NMAP.NoHostDiscovery" /> No Ping Scan (-Pn)
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">
                                                            <input type="checkbox" value="-PA" /> Ping ACK (-PA)
                                                        </label>
                                                    </div>
                                                    <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.AckDiscoveryPorts" />
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">
                                                            <input type="checkbox" value="-PS" /> Ping SYN (-PS)
                                                        </label>
                                                    </div>
                                                    <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.SynDiscoveryPorts" />
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">
                                                            <input type="checkbox" value="-PU" /> Ping UDP (-PU)
                                                        </label>
                                                    </div>
                                                    <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.UdpDiscoveryPorts" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-5">
                                            <div class="col-sm-12">
                                                <h4>Altro</h4>
                                                <hr />
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.NMAP.Fragmented" /> Frammenta pacchetti (-f)
                                                        </label>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.NMAP.FastScan" /> Fast Scan (-F)
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.NMAP.IncreaseVerbosity" /> Verbosit&agrave; aumentata (-vv)
                                                        </label>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.NMAP.ServiceVersion" /> Scopri Versione Servizi (-sV)
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.NMAP.OSDetectionAggressive" /> Aumenta Aggressivit&agrave; Scoperta OS (--osscan-aggressive)
                                                        </label>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.NMAP.ArpDiscovery" /> ARP Discovery (-PR)
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-sm-offset-6 text-right">
                                            <div class="form-group">
                                                <input type="submit" asp-action="Create" asp-route-cosa="nmap" class="btn btn-default" value="Create" />&nbsp;&nbsp;
                                                <a asp-action="Index"> Torna alla lista</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-sidebar">
                <div class="panel-heading">
                    <a href="#" data-toggle="collapse" data-target="#apriNessus">
                        <strong>
                            NESSUS SCAN
                        </strong>
                        <span class="caret"></span>
                    </a>
                </div>
                <div class="collapse col-5" id="apriNessus">
                    <div class="panel-body">
                        <h4>
                            <strong> Configura modulo </strong>
                        </h4>
                        <hr>
                        <form asp-action="Create" name="nessusForm">
                            <input type="hidden" asp-for="@Model.NESSUS.Applicazione" value="@webmva.Models.APPLICAZIONE.NESSUS" />
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group row">
                                        <h4 asp-for="@(Model.NESSUS.Nome)">Nome Modulo</h4>
                                        <input class="form-control" asp-for="@(Model.NESSUS.Nome)" />
                                    </div>

                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <div class="form-group row">
                                        <h4 asp-for="@(Model.NMAP.ComandoPersonalizzato)">Comando Personalizzato</h4>
                                        <input class="form-control" asp-for="@(Model.NMAP.ComandoPersonalizzato)" />
                                    </div>

                                </div>

                            </div>
                            <div class="col-6">
                                <label>Opzioni</label>
                                <div class="panel panel-default">
                                    <div class="panel-body form-horizontal payment-form">
                                        <div class="form-check">
                                            <label>
                                                <input type="radio" id="simpleScan" name="nessus" value="BOH!">
                                                <span class="label-text">Scan semplice </span>
                                            </label>
                                        </div>
                                        <br>
                                        <input type="text" asp-for="@Model.NESSUS.JSON" class="form-control">
                                        <br>
                                        <div class="col text-right">
                                            <input type="submit" asp-action="Create" asp-route-cosa="nessus" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-sidebar">
                <div class="panel-heading">
                    <a href="#" data-toggle="collapse" data-target="#apriOpenVAS">
                        <strong>
                            OPENVAS SCAN
                        </strong>
                        <span class="caret"></span>
                    </a>
                </div>
                <div class="collapse col-5" id="apriOpenVAS">
                    <div class="panel-body">
                        <h4>
                            <strong> Configura modulo </strong>
                        </h4>
                        <hr> FORM PER OPENVAS
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <h4 asp-for="@(Model.NMAP.Nome)">Nome Modulo</h4>
                                    <input class="form-control" asp-for="@(Model.NMAP.Nome)" />
                                </div>

                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <div class="form-group row">
                                    <h4 asp-for="@(Model.NMAP.ComandoPersonalizzato)">Comando Personalizzato</h4>
                                    <input class="form-control" asp-for="@(Model.NMAP.ComandoPersonalizzato)" />
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#web" data-toggle="collapse">
                    <strong>
                        WEB
                    </strong>

                </a>
            </div>
            <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#wapiti">
                            <strong>
                                WAPITI
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse col-5" id="wapiti">
                        <div class="panel-body">
                            <h4>
                                <strong> Configura modulo </strong>
                            </h4>
                            <hr>
                            <form asp-action="Create" name="wapitiForm">
                                <input type="hidden" asp-for="@Model.WAPITI.Applicazione" value="@webmva.Models.APPLICAZIONE.WAPITI" />


                                <div class="col-sm-12">
                                    <div class="col-sm-7" style="margin:0 auto; float:none">
                                        <div class="form-group">
                                            <h4 asp-for="@(Model.WAPITI.Nome)">Nome Modulo</h4>
                                            <input class="form-control" asp-for="@(Model.WAPITI.Nome)" />
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">

                                            <!-- <div class="form-group row">
                                                <h4 asp-for="@(Model.WAPITI.URL)">URL</h4>
                                                <input class="form-control" asp-for="@(Model.WAPITI.URL)" />
                                            </div>-->



                                            <div class="col-sm-7" style="margin:0 auto; float:none">
                                                <div class="form-group row">
                                                    <h4 asp-for="@(Model.WAPITI.ComandoPersonalizzato)">Comando Personalizzato</h4>
                                                    <input class="form-control" asp-for="@(Model.WAPITI.ComandoPersonalizzato)" />
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-sm-12">
                                        <h4>Tipi di enumerazione</h4>
                                        <hr />
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Scegli lo scope</label>
                                            </div>
                                            <select class="col-sm-5" asp-for="@Model.WAPITI.Scope">
                                                <option value="4">nessuno</option>
                                                <option value="0">page</option>
                                                <option value="1">folder</option>
                                                <option value="2">domain</option>
                                                <option value="3">url</option>


                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Scegli la force</label>
                                            </div>
                                            <select class="col-sm-5" asp-for="@Model.WAPITI.Force">
                                                <option value="5">Normale</option>
                                                <option value="0">Paranoico</option>
                                                <option value="1">Subdolo</option>
                                                <option value="2">Educato</option>
                                                <option value="3">Aggressivo</option>
                                                <option value="4">Insano</option>
                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Scegli la verbosità</label>
                                            </div>
                                            <select class="col-sm-5" asp-for="@Model.WAPITI.Verbose">
                                                <option value="1">uno</option>
                                                <option value="0">zero</option>
                                                <option value="2">due</option>
                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label"> Settaggio Minuti</label>
                                            </div>

                                            <input class="col-sm-5" type="number" asp-for="@Model.WAPITI.MaxMinutes" />
                                            <div class="col-sm-3"></div>
                                        </div>
                                        <div class="col-sm-12">

                                            <h4>
                                                Seleziona i moduli desiderati
                                            </h4>
                                            <hr />
                                            <div class="col-sm-6">
                                                <div class="col-sm-12">
                                                    <div class="form-group row">
                                                        <div class="col-sm-5">
                                                            <label class="control-label">
                                                                <input type="checkbox" asp-for="@Model.WAPITI.Common" /> Common
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-5">
                                                            <label class="control-label">
                                                                <input type="checkbox" asp-for="@Model.WAPITI.Nessuno" /> Nessuno
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-5">
                                                            <label class="control-label">
                                                                <input type="checkbox" asp-for="@Model.WAPITI.All" /> Tutto
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-5">
                                                            <label class="control-label">
                                                                <input type="checkbox" asp-for="@Model.WAPITI.BackUp" /> Back Up
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">
                                                                <input type="checkbox" asp-for="@Model.WAPITI.BlindSql" /> Blind Sql
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">
                                                                <input type="checkbox" asp-for="@Model.WAPITI.Crlf" /> Crlf
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-4">
                                                            <label class="control-label">
                                                                <input type="checkbox" asp-for="@Model.WAPITI.Exec" /> Exec
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.WAPITI.File" /> File
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.WAPITI.Htaccess" /> Htaccess
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class=" col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.WAPITI.Nikto" /> Nikto
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class=" col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.WAPITI.PermanentXss" /> Permanet Xss
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.WAPITI.Sql" /> Sql
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.WAPITI.Buster" /> Buster
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.WAPITI.ShellShock" /> Shell Shock
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-offset-6 text-right">
                                        <div class="form-group">
                                            <input type="submit" asp-action="Create" asp-route-cosa="wapiti" class="btn btn-default" value="Create" />&nbsp;&nbsp;|
                                            <a asp-action="Index"> Torna alla lista</a>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#dns" data-toggle="collapse">
                    <strong>
                        CMS
                    </strong>

                </a>
            </div>
            <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#droopescan">
                            <strong>
                                DROOPESCAN
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse col-5" id="droopescan">
                        <div class="panel-body">
                            <h4>
                                <strong> Configura modulo </strong>
                            </h4>
                            <hr>
                            <form asp-action="Create" name="droopeForm">
                                <input type="hidden" asp-for="@Model.DROOPE.Applicazione" value="@webmva.Models.APPLICAZIONE.DROOPE" />


                                <div class="col-sm-12">
                                    <div class="col-sm-7" style="margin:0 auto; float:none">
                                        <div class="form-group">
                                            <h4 asp-for="@(Model.DROOPE.Nome)">Nome Modulo</h4>
                                            <input class="form-control" asp-for="@(Model.DROOPE.Nome)" />
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">

                                            <!--  <div class="form-group row">
                                                <h4 asp-for="@(Model.DROOPE.URL)">URL</h4>
                                                <input class="form-control" asp-for="@(Model.DROOPE.URL)" />
                                            </div>-->



                                            <div class="col-sm-7" style="margin:0 auto; float:none">
                                                <div class="form-group row">
                                                    <h4 asp-for="@(Model.DROOPE.ComandoPersonalizzato)">Comando Personalizzato</h4>
                                                    <input class="form-control" asp-for="@(Model.DROOPE.ComandoPersonalizzato)" />
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-sm-12">
                                        <h4>Tipi di enumerazione</h4>
                                        <hr />
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Scegli cms</label>
                                            </div>
                                            <select class="col-sm-5" asp-for="@Model.DROOPE.Cms">
                                                <option value="5">nessuno</option>
                                                <option value="0">drupal</option>
                                                <option value="1">joomla</option>
                                                <option value="2">moodle</option>
                                                <option value="3">silvestripe</option>
                                                <option value="4">wordpress</option>

                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Scegli check</label>
                                            </div>
                                            <select class="col-sm-5" asp-for="@Model.DROOPE.Check">
                                                <option value="4">nessuno</option>
                                                <option value="0">plugin</option>
                                                <option value="1">theme</option>
                                                <option value="2">version</option>
                                                <option value="3">intersting url</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6 col-sm-offset-6 text-right">
                                            <div class="form-group">
                                                <input type="submit" asp-action="Create" asp-route-cosa="droopescan" class="btn btn-default" value="Create" />&nbsp;&nbsp;
                                                <a asp-action="Index"> Torna alla lista</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-sidebar">
                <div class="panel-heading">
                    <a href="#" data-toggle="collapse" data-target="#vedi2">
                        <strong>
                            vedi
                        </strong>
                        <span class="caret"></span>
                    </a>
                </div>
                <div class="collapse col-5" id="vedi2">
                    <div class="panel-body">
                        <h4>
                            <strong> Configura modulo </strong>
                        </h4>
                        <hr>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#dns" data-toggle="collapse">
                    <strong>
                        DNS
                    </strong>

                </a>
            </div>
            <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#dnsRecon">
                            <strong>
                                DNSRECON
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse col-5" id="dnsRecon">
                        <div class="panel-body">
                            <h4>
                                <strong> Configura modulo </strong>
                            </h4>
                            <hr>
                            <form asp-action="Create" name="dnsReconForm">
                                <input type="hidden" asp-for="@Model.DNSRECON.Applicazione" value="@webmva.Models.APPLICAZIONE.DNSRECON" />


                                <div class="col-sm-12">
                                    <div class="col-sm-7" style="margin:0 auto; float:none">
                                        <div class="row form-group">
                                            <h4 asp-for="@(Model.DNSRECON.Nome)">Nome Modulo</h4>
                                            <input class="form-control" asp-for="@(Model.DNSRECON.Nome)" />
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="col-sm-12">
                                        <!-- <div class="col-sm-6">
                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label class="control-label" asp-for="@Model.DNSRECON.Dominio"></label>
                                                </div>
                                                <input class="col-sm-9" asp-for="@Model.DNSRECON.Dominio" />
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label class="control-label" asp-for="@Model.DNSRECON.NameServer"></label>
                                                </div>
                                                <input class="col-sm-9" asp-for="@Model.DNSRECON.NameServer" />
                                            </div>

                                        </div>-->
                                        <div class="col-sm-7" style="margin:0 auto; float:none">
                                            <div class="form-group row">
                                                <h4 asp-for="@(Model.DROOPE.ComandoPersonalizzato)">Comando Personalizzato</h4>
                                                <input class="form-control" asp-for="@(Model.DROOPE.ComandoPersonalizzato)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <h4>Tipi di enumerazione</h4>
                                        <hr />
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <div class="col-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.DNSRECON.AXFREnum" /> AXFR Enumeration (-a)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.DNSRECON.ReverseLookupEnum" /> Reverse Lookup Enumeration (-s)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.DNSRECON.GoogleEnum" /> Google Enumeration (-g)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.DNSRECON.BingEnum" /> Bing (-b)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <div class="col-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.DNSRECON.CrtShEnum" /> Crt.sh Enumeration (-k)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.DNSRECON.DeepWhois" /> Deep Whois (-w)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.DNSRECON.ZoneWalk" /> DNSSEC Zone Walk (-z)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-sm-offset-6 text-right">
                                            <div class="form-group">
                                                <input type="submit" asp-action="Create" asp-route-cosa="dnsrecon" class="btn btn-default" value="Create" />&nbsp;&nbsp;
                                                <a asp-action="Index"> Torna alla lista</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-sidebar">
                <div class="panel-heading">
                    <a href="#" data-toggle="collapse" data-target="#vedi2">
                        <strong>
                            vedi
                        </strong>
                        <span class="caret"></span>
                    </a>
                </div>
                <div class="collapse col-5" id="vedi2">
                    <div class="panel-body">
                        <h4>
                            <strong> Configura modulo </strong>
                        </h4>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#ig" data-toggle="collapse">
                    <strong>
                        INFORMATION GATHERING
                    </strong>

                </a>
            </div>
            <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#infoga">
                            <strong>
                                INFOGA
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse col-5" id="infoga">
                        <div class="panel-body">
                            <h4>
                                <strong> Configura modulo </strong>
                            </h4>
                            <hr>
                            <form asp-action="Create" name="infogaForm">
                                <input type="hidden" asp-for="@Model.INFOGA.Applicazione" value="@webmva.Models.APPLICAZIONE.INFOGA" />


                                <div class="col-sm-12">
                                    <div class="col-sm-7" style="margin:0 auto; float:none">
                                        <div class="form-group">
                                            <h4 asp-for="@(Model.INFOGA.Nome)">Nome Modulo</h4>
                                            <input class="form-control" asp-for="@(Model.INFOGA.Nome)" />
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="col-sm-12">
                                        <!--<div class="col-sm-6">
                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label class="control-label" asp-for="@Model.INFOGA.Dominio"></label>
                                                </div>
                                                <input class="col-sm-9" asp-for="@Model.INFOGA.Dominio" />
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label class="control-label" asp-for="@Model.INFOGA.Email"></label>
                                                </div>
                                                <input class="col-sm-9" asp-for="@Model.INFOGA.Email" />
                                            </div>
                                        </div>-->
                                        <div class="col-sm-7" style="margin:0 auto; float:none">
                                            <div class="form-group row">
                                                <h4 asp-for="@(Model.INFOGA.ComandoPersonalizzato)">Comando Personalizzato</h4>
                                                <input class="form-control" asp-for="@(Model.INFOGA.ComandoPersonalizzato)" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <h4>Tipi di enumerazione</h4>
                                        <hr />
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Scegli source</label>
                                            </div>
                                            <select class="col-sm-5" asp-for="@Model.INFOGA.Source">
                                                <option value="8">all</option>
                                                <option value="0">google </option>
                                                <option value="1">bing </option>
                                                <option value="2">yahoo </option>
                                                <option value="3">ask </option>
                                                <option value="4">baidu </option>
                                                <option value="5">dogpile </option>
                                                <option value="6">exalead </option>
                                                <option value="7">pgp </option>
                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Scegli verbosità</label>
                                            </div>
                                            <select class="col-sm-5" asp-for="@Model.INFOGA.Verbose">
                                                <option value="3">nessuno</option>
                                                <option value="0">uno </option>
                                                <option value="1">due</option>
                                                <option value="2">tre</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12">
                                            <h4>Altro</h4>
                                            <hr />
                                            <div class="row">

                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.INFOGA.Breach" /> Breach (-b)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-sm-offset-6 text-right">
                                            <div class="form-group">
                                                <input type="submit" asp-action="Create" asp-route-cosa="infoga" class="btn btn-default" value="Create" />&nbsp;&nbsp;
                                                <a asp-action="Index"> Torna alla lista</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>