@model webmva.ViewModels.EditModuloVM
@{ ViewData["Title"] = "Crea modulo"; }
<div class="col-md-2 sidebar">
    <div class="row">
        <!-- uncomment code for absolute positioning tweek see top comment in css -->
        <div class="absolute-wrapper"> </div>
        <!-- Menu -->
        <br>
        <div class="side-menu col-6">
            <nav class="navbar navbar-default" role="navigation">
                <!-- Main Menu -->
                <div class="side-menu-container">
                    <ul class="nav navbar-nav" style="list-style-type:none">
                        <!-- Dropdown-->
                        <a>
                            <li class="panel-default" id="progetto">
                                <span class="glyphicon glyphicon-barcode"></span>
                                <strong>MODULO</strong>
                        </a>

                        <!-- Dropdown level 1-->
                        <div id="dropdown-lvl1" class="panel-collapse">
                            <div class="panel-body">
                                <ul class="panel-default" style="list-style-type:none; margin-left:-40px">
                                    <li>
                                        <a href="#" data-toggle="collapse" data-target="#apriNmap">Nmap scan</a>
                                    </li>
                                    <br>
                                    <li>
                                        <a href="#" data-toggle="collapse" data-target="#apriNessus">Nessus scan</a>
                                    </li>
                                    <br>
                                    <li>
                                        <a href="#" data-toggle="collapse" data-target="#apriOpenVAS">OpenVAS scan</a>
                                    </li>
                                    <br>


                                </ul>

                            </div>
                        </div>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

        </div>
    </div>
</div>

<div class="col-6 col-md-10">
    <br>
    <div class="col-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#apriNmap">
                    <strong>
                        NMAP SCAN
                    </strong>
                    <span class="caret"></span>
                </a>
            </div>
            <div class="collapse col-5" id="apriNmap">
                <div class="panel-body">
                    <h4>
                        <strong> Configura modulo </strong>
                    </h4>
                    <hr>
                    <form asp-action="Create" name="nmapForm">
                        <div class="row panel panel-default panel-body">

                            <div class="col-sm-12">
                                <div class="col-sm-7" style="margin:0 auto; float:none">
                                    <div class="form-group">
                                        <h4 asp-for="@(Model.NMAP.Nome)">Nome Modulo</h4>
                                        <input class="form-control" asp-for="@(Model.NMAP.Nome)"/>
                                    </div>
                                </div>
                                
                                <hr />
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <h4>Scansione</h4>
                                        <hr />
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label">TCP</label>
                                            </div>
                                            <select class="col-sm-5" asp-for="@Model.NMAP.TCPScan">
                                                <option value=5>Nessuno</option>
                                                <option value="0">SYN Scan (-sS)</option>
                                                <option value="1">ACK Scan (-sA)</option>
                                                <option value="2">TCP Connection Scan (-sT)</option>
                                                <option value="3">TCP Window Scan (-sW)</option>
                                                <option value="4">Maimon Scan (-sM)</option>
                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Non-TCP</label>
                                            </div>
                                            <select class="col-sm-5" asp-for="@Model.NMAP.NonTCPScan">
                                                <option value="3">Nessuno</option>
                                                <option value="0">UDP Scan (-sU)</option>
                                                <option value="1">Elenco Scansione (-sL)</option>
                                                <option value="2">No Port Scan (-sn)</option>
                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Temporizzazione</label>
                                            </div>
                                            <select class="col-sm-5" asp-for="@Model.NMAP.Tempo">
                                                <option value="0">Paranoico (-T0)</option>
                                                <option value="1">Subdolo (-T1)</option>
                                                <option value="2">Educato (-T2)</option>
                                                <option value="3">Normale, default (-T3)</option>
                                                <option value="4">Aggressivo (-T4)</option>
                                                <option value="5">Insano (-T5)</option>
                                            </select>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <label class="control-label">Lista Porte</label>
                                            </div>
                                            <input type="text" class="col-sm-5" placeholder="1,2-5,444" asp-for="@Model.NMAP.ListSpecificPort" />
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <div class="panel panel-default panel-body">
                                            <div class="col-sm-12">
                                                <h4>Opzioni</h4>
                                                <hr />
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.NMAP.AllDetections" /> Tutte le scoperte (-A)
                                                        </label>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.NMAP.OSdetection" /> Scopri OS (-O)
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.NMAP.NoDNSResolution" /> No DNS Resolution (-n)
                                                        </label>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label class="control-label">
                                                            <input type="checkbox" asp-for="@Model.NMAP.IPv6Scan" /> IPv6 (-6)
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <hr />
                                    <div class="col-sm-6">
                                        <div class="col-sm-12">
                                            <h4>Ping</h4>
                                            <hr />
                                            <div class="form-group row">
                                                <div class="col-sm-5">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.NMAP.NoHostDiscovery" />
                                                        No Ping Scan (-Pn)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="control-label">
                                                        <input type="checkbox" value="-PA" />
                                                        Ping ACK (-PA)
                                                    </label>
                                                </div>
                                                <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.AckDiscoveryPorts" />
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="control-label">
                                                        <input type="checkbox" value="-PS" />
                                                        Ping SYN (-PS)
                                                    </label>
                                                </div>
                                                <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.SynDiscoveryPorts" />
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-4">
                                                    <label class="control-label">
                                                        <input type="checkbox" value="-PU" />
                                                        Ping UDP (-PU)
                                                    </label>
                                                </div>
                                                <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.UdpDiscoveryPorts" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-5">
                                        <div class="col-sm-12">
                                            <h4>Altro</h4>
                                            <hr />
                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.NMAP.Fragmented" /> Frammenta pacchetti (-f)
                                                    </label>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.NMAP.FastScan" /> Fast Scan (-F)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.NMAP.IncreaseVerbosity" /> Verbosit&agrave; aumentata (-vv)
                                                    </label>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.NMAP.ServiceVersion" /> Scopri Versione Servizi (-sV)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.NMAP.OSDetectionAggressive" /> Aumenta Aggressivit&agrave; Scoperta OS (--osscan-aggressive)
                                                    </label>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label class="control-label">
                                                        <input type="checkbox" asp-for="@Model.NMAP.ArpDiscovery" /> ARP Discovery (-PR)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 			                   <div class="col-sm-6 col-sm-offset-6 text-right">
                                        <div class="form-group">
                                            <input type="submit" asp-action="Create" asp-route-cosa="nmap" class="btn btn-default" asp-route-id="@Model.NMAP.ID" value="Salva" />&nbsp;&nbsp;
                                            <a asp-action="Index"> Torna alla lista</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#apriNessus">
                    <strong>
                        NESSUS SCAN
                    </strong>
                    <span class="caret"></span>
                </a>
            </div>
            <div class="collapse col-5" id="apriNessus">
                <div class="panel-body">
                    <h4>
                        <strong> Configura modulo </strong>
                    </h4>
                    <hr>
                    <form asp-action="Create" name="nessusForm">
                        <label asp-for="@Model.NESSUS.Nome"></label>
                        <div class="panel panel-default">
                            <input asp-for="@Model.NESSUS.Nome" class="form-control" />
                            <span asp-validation-for="@Model.NESSUS.Nome" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label>Opzioni</label>
                            <div class="panel panel-default">
                                <div class="panel-body form-horizontal payment-form">
                                    <div class="form-check">
                                        <label>
                                            <input type="radio" id="simpleScan" name="nessus" value="BOH!">
                                            <span class="label-text">Scan semplice </span>
                                        </label>
                                    </div>
                                    <br>
                                    <input type="text" asp-for="@Model.NESSUS.JSON" class="form-control">
                                    <br>
                                    <div class="col text-right">
                                        <input type="submit" asp-action="Create" asp-route-cosa="nessus" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" data-toggle="collapse" data-target="#apriOpenVAS">
                    <strong>
                        OPENVAS SCAN
                    </strong>
                    <span class="caret"></span>
                </a>
            </div>
            <div class="collapse col-5" id="apriOpenVAS">
                <div class="panel-body">
                    <h4>
                        <strong> Configura modulo </strong>
                    </h4>
                    <hr>
                    FORM PER OPENVAS
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts{
<script>

</script> }