@model webmva.Models.Modulo

@{
    ViewData["Title"] = "Elimina modulo";
}

<h2>Elimina</h2>

<h3>Sei sicuro di voler eliminare questo modulo?</h3>
<div>
    <h4>Modulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comando)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comando)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Elimina" class="btn btn-default" /> |
        <a asp-action="Index">Torna alla lista dei moduli</a>
    </form>
</div>
