@model webmva.ViewModels.EditModuloVM
@{ ViewData["Title"] = "Edit";
    bool nmap = Model.NMAP != null;
    bool nessus = Model.NESSUS != null;
    bool dnsrecon = Model.DNSRECON != null;
    bool droopescan = Model.DROOPE != null;
}


@{
    @* -----NMAP----- *@
    if (nmap)
    {
        <h2>Modifica modulo @(Model.NMAP.Nome)</h2>
        <hr />
        <form asp-action="Edit" name="nmapForm">
            <input type="hidden" asp-for="@Model.NMAP.Applicazione" value="@webmva.Models.APPLICAZIONE.NMAP" />
            <div class="row panel panel-default panel-body">

                <div class="col-sm-12">
                    <div class="col-sm-7" style="margin:0 auto; float:none">
                        <div class="form-group">
                            <h4 asp-for="@(Model.NMAP.Nome)">Nome Modulo  </h4>
                            <input class="form-control" asp-for="@(Model.NMAP.Nome)" />
                        </div>
                        <input type="hidden" asp-for="@Model.NMAP.ID" />
                    </div>
                    <hr />
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <h4>Scansione</h4>
                            <hr />
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="control-label">TCP</label>
                                </div>
                                <select class="col-sm-5" asp-for="@Model.NMAP.TCPScan">
                                    <option value=5>Nessuno</option>
                                    <option value="0">SYN Scan (-sS)</option>
                                    <option value="1">ACK Scan (-sA)</option>
                                    <option value="2">TCP Connection Scan (-sT)</option>
                                    <option value="3">TCP Window Scan (-sW)</option>
                                    <option value="4">Maimon Scan (-sM)</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="control-label">Non-TCP</label>
                                </div>
                                <select class="col-sm-5" asp-for="@Model.NMAP.NonTCPScan">
                                    <option value="3">Nessuno</option>
                                    <option value="0">UDP Scan (-sU)</option>
                                    <option value="1">Elenco Scansione (-sL)</option>
                                    <option value="2">No Port Scan (-sn)</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="control-label">Temporizzazione</label>
                                </div>
                                <select class="col-sm-5" asp-for="@Model.NMAP.Tempo">
                                    <option value="0">Paranoico (-T0)</option>
                                    <option value="1">Subdolo (-T1)</option>
                                    <option value="2">Educato (-T2)</option>
                                    <option value="3">Normale, default (-T3)</option>
                                    <option value="4">Aggressivo (-T4)</option>
                                    <option value="5">Insano (-T5)</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="control-label">Lista Porte</label>
                                </div>
                                <input type="text" class="col-sm-5" placeholder="1,2-5,444" asp-for="@Model.NMAP.ListSpecificPort" />
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="panel panel-default panel-body">
                                <div class="col-sm-12">
                                    <h4>Opzioni</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">
                                                <input type="checkbox" asp-for="@Model.NMAP.AllDetections" /> Tutte le scoperte (-A)
                                            </label>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">
                                                <input type="checkbox" asp-for="@Model.NMAP.OSdetection" /> Scopri OS (-O)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">
                                                <input type="checkbox" asp-for="@Model.NMAP.NoDNSResolution" /> No DNS Resolution (-n)
                                            </label>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">
                                                <input type="checkbox" asp-for="@Model.NMAP.IPv6Scan" /> IPv6 (-6)
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr />
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <h4>Ping</h4>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-sm-5">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.NoHostDiscovery" />
                                            No Ping Scan (-Pn)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="control-label">
                                            <input type="checkbox" value="-PA" />
                                            Ping ACK (-PA)
                                        </label>
                                    </div>
                                    <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.AckDiscoveryPorts" />
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="control-label">
                                            <input type="checkbox" value="-PS" />
                                            Ping SYN (-PS)
                                        </label>
                                    </div>
                                    <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.SynDiscoveryPorts" />
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="control-label">
                                            <input type="checkbox" value="-PU" />
                                            Ping UDP (-PU)
                                        </label>
                                    </div>
                                    <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.UdpDiscoveryPorts" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="col-sm-12">
                                <h4>Altro</h4>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.Fragmented" /> Frammenta pacchetti (-f)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.FastScan" /> Fast Scan (-F)
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.IncreaseVerbosity" /> Verbosit&agrave; aumentata (-vv)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.ServiceVersion" /> Scopri Versione Servizi (-sV)
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.OSDetectionAggressive" /> Aumenta Aggressivit&agrave; Scoperta OS (--osscan-aggressive)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.ArpDiscovery" /> ARP Discovery (-PR)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" asp-action="Edit" class="btn btn-default" asp-route-id="@Model.NMAP.ID" value="Salva" />&nbsp;|&nbsp;
                                <a asp-action="Index"> Torna alla lista</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <a asp-action="Index"> Torna alla lista</a>
    }
    @* -----NESSUS----- *@
    else if (nessus)
    {
        <h2>Modifica modulo @(Model.NESSUS.Nome)</h2>
        <hr />
        <a asp-action="Index"> Torna alla lista</a>
    }
    @* -----DNSRECON----- *@
    else if (dnsrecon)
    {
        <h2>Modifica modulo @(Model.DNSRECON.Nome)</h2>
        <hr />
        <form asp-action="Edit" name="dnsReconForm">
            <input type="hidden" asp-for="@Model.DNSRECON.Applicazione" value="@webmva.Models.APPLICAZIONE.DNSRECON" />
            <div class="row panel panel-default panel-body">

                <div class="col-sm-12">
                    <div class="col-sm-7" style="margin:0 auto; float:none">
                        <div class="form-group">
                            <h4 asp-for="@(Model.DNSRECON.Nome)">Nome Modulo</h4>
                            <input class="form-control" asp-for="@(Model.DNSRECON.Nome)" />
                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.DNSRECON.ID" />
                    <hr />
                    <div class="col-sm-12">
                        <div class="col-sm-7" style="margin:0 auto; float:none">
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label class="control-label" asp-for="@Model.DNSRECON.Dominio"></label>
                                </div>
                                <input class="col-sm-9" asp-for="@Model.DNSRECON.Dominio" />
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label class="control-label" asp-for="@Model.DNSRECON.NameServer"></label>
                                </div>
                                <input class="col-sm-9" asp-for="@Model.DNSRECON.NameServer" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h4>Tipi di enumerazione</h4>
                        <hr />
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <div class="col-6">
                                    <label class="control-label">
                                        <input type="checkbox" asp-for="@Model.DNSRECON.AXFREnum" />
                                        AXFR Enumeration (-a)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label class="control-label">
                                        <input type="checkbox" asp-for="@Model.DNSRECON.ReverseLookupEnum" />
                                        Reverse Lookup Enumeration (-s)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label class="control-label">
                                        <input type="checkbox" asp-for="@Model.DNSRECON.GoogleEnum" />
                                        Google Enumeration (-g)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label class="control-label">
                                        <input type="checkbox" asp-for="@Model.DNSRECON.BingEnum" />
                                        Bing (-b)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <div class="col-6">
                                    <label class="control-label">
                                        <input type="checkbox" asp-for="@Model.DNSRECON.CrtShEnum" />
                                        Crt.sh Enumeration (-k)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label class="control-label">
                                        <input type="checkbox" asp-for="@Model.DNSRECON.DeepWhois" />
                                        Deep Whois (-w)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label class="control-label">
                                        <input type="checkbox" asp-for="@Model.DNSRECON.ZoneWalk" />
                                        DNSSEC Zone Walk (-z)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-6 text-right">
                            <div class="form-group">
                                <input type="submit" asp-action="Edit" class="btn btn-default" asp-route-id="@Model.DNSRECON.ID" value="Salva" />&nbsp;|&nbsp;
                                <a asp-action="Index"> Torna alla lista</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
     @* -----DROOPE----- *@
    else if (droopescan)
    {
        <h2>Modifica modulo @(Model.DROOPE.Nome)</h2>
        <hr />
                            <form asp-action="Edit" name="droopeForm">
                            <input type="hidden" asp-for="@Model.DROOPE.ID"  />
                            <input type="hidden" asp-for="@Model.DROOPE.Applicazione" value="@webmva.Models.APPLICAZIONE.DROOPE" />
                            <div class="row panel panel-default panel-body">

                                <div class="col-sm-12">
                                    <div class="col-sm-7" style="margin:0 auto; float:none">
                                        <div class="form-group">
                                            <h4 asp-for="@(Model.DROOPE.Nome)">Nome Modulo</h4>
                                            <input class="form-control" asp-for="@(Model.DROOPE.Nome)" />
                                        </div>
                                    </div>

                                    <hr />
                                   <div class="col-sm-12">
                                        <div class="col-sm-7" style="margin:0 auto; float:none">
                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                   <h4 asp-for="@(Model.DROOPE.URL)">URL</h4>
                                                </div>
                                                <input class="form-control" asp-for="@Model.DROOPE.URL" />
                                            </div>
                                            <div class="form-group row">
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <h4>Tipi di enumerazione</h4>
                                        <hr />
                                         <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Scegli cms</label>
                                                    </div>
                                                    <select class="col-sm-5" asp-for="@Model.DROOPE.cms">
                                                        <option value="5">nessuno</option>
                                                        <option value="0">drupal</option>
                                                        <option value="1">joomla</option>
                                                        <option value="2">moodle</option>
                                                        <option value="3">silvestripe</option>
                                                        <option value="4">wordpress</option>
                                                       
                                                    </select>
                                                </div>
                                                 <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Scegli check</label>
                                                    </div>
                                                    <select class="col-sm-5" asp-for="@Model.DROOPE.check">
                                                        <option value="4">nessuno</option>
                                                        <option value="0">plugin</option>
                                                        <option value="1">theme</option>
                                                        <option value="2">version</option>
                                                        <option value="3">intersting url</option> 
                                                    </select>
                                                </div>
                                        <div class="col-sm-6 col-sm-offset-6 text-right">
                            <div class="form-group">
                                <input type="submit" asp-action="Edit" class="btn btn-default" asp-route-id="@Model.DROOPE.ID" value="Salva" />&nbsp;|&nbsp;
                                <a asp-action="Index"> Torna alla lista</a>
                            </div>
                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
    }
}