@model webmva.ViewModels.EditModuloVM
@{ ViewData["Title"] = "Edit";
    bool nmap = Model.NMAP != null;
    bool nessus = Model.NESSUS != null;
}


@{
    @* -----NMAP----- *@
    if (nmap)
    {
        <h2>Modifica modulo @(Model.NMAP.Nome)</h2>
        <hr />
        <form asp-action="Edit" name="nmapForm">
            <div class="row panel panel-default panel-body">

                <div class="col-sm-12">
                    <div class="col-sm-7" style="margin:0 auto; float:none">
                        <div class="form-group">
                            <h4 asp-for="@(Model.NMAP.Nome)">Nome Modulo  </h4>
                            <input class="form-control" asp-for="@(Model.NMAP.Nome)" />
                        </div>
                        <input type="hidden" asp-for="@Model.NMAP.ID" />
                    </div>
                    <hr />
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <h4>Scansione</h4>
                            <hr />
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="control-label">TCP</label>
                                </div>
                                <select class="col-sm-5" asp-for="@Model.NMAP.TCPScan">
                                    <option value=5>Nessuno</option>
                                    <option value="0">SYN Scan (-sS)</option>
                                    <option value="1">ACK Scan (-sA)</option>
                                    <option value="2">TCP Connection Scan (-sT)</option>
                                    <option value="3">TCP Window Scan (-sW)</option>
                                    <option value="4">Maimon Scan (-sM)</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="control-label">Non-TCP</label>
                                </div>
                                <select class="col-sm-5" asp-for="@Model.NMAP.NonTCPScan">
                                    <option value="3">Nessuno</option>
                                    <option value="0">UDP Scan (-sU)</option>
                                    <option value="1">Elenco Scansione (-sL)</option>
                                    <option value="2">No Port Scan (-sn)</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="control-label">Temporizzazione</label>
                                </div>
                                <select class="col-sm-5" asp-for="@Model.NMAP.Tempo">
                                    <option value="0">Paranoico (-T0)</option>
                                    <option value="1">Subdolo (-T1)</option>
                                    <option value="2">Educato (-T2)</option>
                                    <option value="3">Normale, default (-T3)</option>
                                    <option value="4">Aggressivo (-T4)</option>
                                    <option value="5">Insano (-T5)</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="control-label">Lista Porte</label>
                                </div>
                                <input type="text" class="col-sm-5" placeholder="1,2-5,444" asp-for="@Model.NMAP.ListSpecificPort" />
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="panel panel-default panel-body">
                                <div class="col-sm-12">
                                    <h4>Opzioni</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">
                                                <input type="checkbox" asp-for="@Model.NMAP.AllDetections" /> Tutte le scoperte (-A)
                                            </label>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">
                                                <input type="checkbox" asp-for="@Model.NMAP.OSdetection" /> Scopri OS (-O)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">
                                                <input type="checkbox" asp-for="@Model.NMAP.NoDNSResolution" /> No DNS Resolution (-n)
                                            </label>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">
                                                <input type="checkbox" asp-for="@Model.NMAP.IPv6Scan" /> IPv6 (-6)
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr />
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <h4>Ping</h4>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-sm-5">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.NoHostDiscovery" />
                                            No Ping Scan (-Pn)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="control-label">
                                            <input type="checkbox" value="-PA" />
                                            Ping ACK (-PA)
                                        </label>
                                    </div>
                                    <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.AckDiscoveryPorts" />
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="control-label">
                                            <input type="checkbox" value="-PS" />
                                            Ping SYN (-PS)
                                        </label>
                                    </div>
                                    <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.SynDiscoveryPorts" />
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="control-label">
                                            <input type="checkbox" value="-PU" />
                                            Ping UDP (-PU)
                                        </label>
                                    </div>
                                    <input type="text" class="col-sm-6 col-sm-offset-1" placeholder="1,2-5,444" asp-for="@Model.NMAP.UdpDiscoveryPorts" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <div class="col-sm-12">
                                <h4>Altro</h4>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.Fragmented" /> Frammenta pacchetti (-f)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.FastScan" /> Fast Scan (-F)
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.IncreaseVerbosity" /> Verbosit&agrave; aumentata (-vv)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.ServiceVersion" /> Scopri Versione Servizi (-sV)
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.OSDetectionAggressive" /> Aumenta Aggressivit&agrave; Scoperta OS (--osscan-aggressive)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" asp-for="@Model.NMAP.ArpDiscovery" /> ARP Discovery (-PR)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> 			                   
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" asp-action="Edit" class="btn btn-default" asp-route-id="@Model.NMAP.ID" value="Salva" />&nbsp;|&nbsp;
                                <a asp-action="Index"> Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    @* -----NESSUS----- *@
    else if (nessus)
    {
         <h2>Modifica modulo @(Model.NESSUS.Nome)</h2>
        <hr />
     }
}