@model webmva.Models.Modulo
@{ ViewData["Title"] = "Edit";
    bool nmap = Model is webmva.Models.ModuloNMAP;
    bool nessus = Model is webmva.Models.ModuloNESSUS;
}

<h2>Modifica modulo</h2>
<hr />
@{
    @* -----NMAP----- *@
    if (nmap)
    {
        <form asp-action="Edit" name="nmapForm">
            <div class="row panel panel-default panel-body">

                <div class="col-sm-12">
                    <div class="col-sm-7" style="margin:0 auto; float:none">
                        <div class="form-group">
                            <h4 asp-for="@((Model as webmva.Models.ModuloNMAP).Nome)">Nome Modulo</h4>
                            <input class="form-control" asp-for="@((Model as webmva.Models.ModuloNMAP).Nome)" />
                        </div>
                    </div>
                    <hr />
                    <div class="col-sm-6">
                        <h4>Scansione</h4>
                        <hr />
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="control-label">TCP</label>
                            </div>
                            <select name="TCP" class="col-sm-5">
                                <option>Nessuno</option>
                                <option value="-sS" asp-for="@((Model as webmva.Models.ModuloNMAP).SYNScan)">SYN Scan (-sS)</option>
                                <option value="-sA" asp-for="@((Model as webmva.Models.ModuloNMAP).ACKScan)">ACK Scan (-sA)</option>
                                <option value="-sT" asp-for="@((Model as webmva.Models.ModuloNMAP).TCPConnectScan)">TCP Connection Scan (-sT)</option>
                                <option value="-sW" asp-for="@((Model as webmva.Models.ModuloNMAP).WindowPortScan)">TCP Window Scan (-sW)</option>
                                <option value="-sM" asp-for="@((Model as webmva.Models.ModuloNMAP).MaimonScan)">Maimon Scan (-sM)</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="control-label">Non-TCP</label>
                            </div>
                            <select name="nonTCP" class="col-sm-5">
                                <option>Nessuno</option>
                                <option value="-sU">UDP Scan (-sU)</option>
                                <option value="-sL">Elenco Scansione (-sL)</option>
                                <option value="-sn">No Port Scan (-sn)</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="control-label">Temporizzazione</label>
                            </div>
                            <select name="nonTCP" class="col-sm-5">
                                <option value="-T0">Paranoico (-T0)</option>
                                <option value="-T1">Subdolo (-T1)</option>
                                <option value="-T2">Educato (-T2)</option>
                                <option value="-T3" selected>Normale, default (-T3)</option>
                                <option value="-T4">Aggressivo (-T4)</option>
                                <option value="-T5">Insano (-T5)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <div class="panel panel-default panel-body">
                            <div class="col-sm-12">
                                <h4>Opzioni</h4>
                                <hr />
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" value="-A" /> Tutte le scoperte (-A)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" value="-O" /> Scopri OS (-O)
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" value="-n" /> No DNS Resolution (-n)
                                        </label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">
                                            <input type="checkbox" value="-6" /> IPv6 (-6)
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr />
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <h4>Ping</h4>
                            <hr />
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <label class="control-label">
                                        <input type="checkbox" value="-Pn" />
                                        No Ping Scan (-Pn)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="control-label">
                                        <input type="checkbox" value="-PA" />
                                        Ping ACK (-PA)
                                    </label>
                                </div>
                                <input type="text" name="portePA" class="col-sm-6 col-sm-offset-1" />
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="control-label">
                                        <input type="checkbox" value="-PS" />
                                        Ping SYN (-PS)
                                    </label>
                                </div>
                                <input type="text" name="portePS" class="col-sm-6 col-sm-offset-1" />
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label class="control-label">
                                        <input type="checkbox" value="-PU" />
                                        Ping UDP (-PU)
                                    </label>
                                </div>
                                <input type="text" name="portePU" class="col-sm-6 col-sm-offset-1" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <div class="col-sm-12">
                            <h4>Altro</h4>
                            <hr />
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">
                                        <input type="checkbox" value="-f" /> Frammenta pacchetti (-f)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">
                                        <input type="checkbox" value="-F" /> Fast Scan (-F)
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">
                                        <input type="checkbox" value="-vv" /> Verbosit&agrave; aumentata (-vv)
                                    </label>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">
                                        <input type="checkbox" value="-sV" /> Scopri Versione Servizi (-sV)
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">
                                        <input type="checkbox" value="--osscan-aggressive" /> Aumenta Aggressivit&agrave; Scoperta OS (--osscan-aggressive)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-6 text-right">
                        <div class="form-group">
                            <input type="submit" asp-action="Edit" class="btn btn-default" asp-route-id="@Model.ID" value="Salva" />&nbsp;&nbsp;
                            <a asp-action="Index"> Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    @* -----NESSUS----- *@
    else if (nessus)
    { }
}