@model IEnumerable<webmva.Models.Modulo>

@{
    ViewData["Title"] = "Index";
}

<h2>Moduli</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comando)
                </th>
                <th>
                    Applicazione
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var tipo = item.GetType();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comando)
            </td>
            @{
                if(tipo == typeof(webmva.Models.ModuloNESSUS)){
                <td>Nessus</td>
                }
                else if(tipo == typeof(webmva.Models.ModuloNMAP)){
                <td>nmap</td>
                }   
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
