@model webmva.ViewModels.ListaModuliVM

    @{ ViewData["Title"] = "Moduli"; }
    
    <div class="container">
        <h2>Moduli</h2>
        <p class="lead">
            I moduli presenti sono questi! Per creare un nuovo modulo
            <a href="/Modulo/Create">clicca qui</a> !
        </p>
        <hr/>
        
        
        <div class="col-md-2 sidebar">
            <div class="row">
                <!-- uncomment code for absolute positioning tweek see top comment in css -->
                <div class="absolute-wrapper"> </div>
                <!-- Menu -->
                <div class="side-menu col-6">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Main Menu -->
                        <div class="side-menu-container">
                            <ul class="nav navbar-nav" style="list-style-type:none">
                                <!-- Dropdown-->
                                <a>
                                    <li class="nav-item dropdown" id="progetto">
                                        <span class="glyphicon glyphicon-barcode"></span>
                                        <strong>MODULO</strong>
                                </a>
                            <li class="nav navbar-nav" id="dropdown">
                              <a>
                                  <span class="glyphicon glyphicon-globe"></span>
                                  <strong> NETWORK</strong>
                              </a>
                                <!-- Dropdown level 1-->
                                <div  class="nav-item dropdown">
                                    <div class="dropdown">
        
                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">
                                           
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#Nmap">Nmap <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a> 
                                            </li>
                                            <li>
                                                <a href="https://www.stationx.net/nmap-cheat-sheet/" target="_blank">Nmap Cheat Sheet</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#Nessus">Nessus <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#OpenVAS">OpenVAS <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                </li>
                                <li class="nav navbar-nav" id="dropdown">
                              <a >
                                  <span class="glyphicon glyphicon-signal"></span>
                                  <strong>WEB </strong>
                              </a>
                                <!-- Dropdown level 1-->
                                <div id="web" class="nav dropdown">
                                    <div class="dropdown">
        
                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">
                                           
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#Vega">Vega <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a> 
                                            </li>
                                            <li>
                                                <a href="" target="_blank">Rispettiva sitografia</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">VEDI  <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#"> VEDI <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                </li>
                                <li class="nav navbar-nav" id="dropdown">
                              <a>
                                  <span class="glyphicon glyphicon-wrench"></span>
                                  <strong> CMS</strong>
                              </a>
                                <!-- Dropdown level 1-->
                                <div id="cms" class="nav-item dropdown">
                                    <div class="dropdown">
        
                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">
                                           
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#droopescan">DroopeScan <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a> 
                                            </li>
                                            <li>
                                                <a href="" target="_blank">RIspettiva sitografia</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">VEDI <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">VEDI <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                </li>
                                <li class="nav navbar-nav" id="dropdown">
                              <a>
                                  <span class="glyphicon glyphicon-stats"></span>
                                  <strong> DNS</strong>
                              </a>
                                <!-- Dropdown level 1-->
                                <div id="dns" class="nav-item dropdown">
                                    <div class="dropdown">
        
                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">
                                           
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#Nmap">Nmap <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a> 
                                            </li>
                                            <li>
                                                <a href="" target="_blank">Risepttiva sitografia</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">VEDI <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">VEDI  <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                </li>
                                <li class="nav navbar-nav" id="dropdown">
                              <a>
                                  <span class="glyphicon glyphicon-list-alt"></span>
                                  <strong> INFORMATION GATHERING</strong>
                              </a>
                                <!-- Dropdown level 1-->
                                <div id="database" class="nav-item dropdown">
                                    <div class="dropdown">
        
                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">
                                           
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#ig"> Infoga <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a> 
                                            </li>
                                            <li>
                                                <a href="" target="_blank">RISPETTIVA SITOGRAFIA</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">VEDI  <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">VEDI  <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                </li>
                                <li class="nav navbar-nav" id="dropdown">
                              <a>
                                  <span class="glyphicon glyphicon-list-alt"></span>
                                  <strong> DATABASE</strong>
                              </a>
                                <!-- Dropdown level 1-->
                                <div id="database" class="nav-item dropdown">
                                    <div class="dropdown">
        
                                        <ul class="dropdown" style="list-style-type:none; margin-left:-40px align:center">
                                           
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#"> <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a> 
                                            </li>
                                            <li>
                                                <a href="" target="_blank">RISPETTIVA SITOGRAFIA</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">VEDI  <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="collapse" data-target="#">VEDI  <span class="glyphicon glyphicon-play" style="font-size:65%"></span></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                </li>
                                <li >
                              <a>
                                
                              </a>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>

                </div>
            </div>
        </div>

        <div class="col-6 col-md-10">
             <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#network" data-toggle="collapse">
                            <strong>
                               NETWORK
                            </strong>
                           
                        </a>
                    </div>
            <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#Nmap">
                            <strong>
                                MODULO NMAP
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse " id="Nmap">
                        <div class="panel-body ">

                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Comando
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    @foreach (var item in Model.ModuliNMAP) { 
                                    <tr>
                                        <td>
                                           <a asp-action="Details" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.Nome)</a> 
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comando)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ID">Modifica</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ID">Cancella</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                    <div class="panel panel-sidebar">
                        <div class="panel-heading">
                            <a href="#" data-toggle="collapse" data-target="#Nessus">
                                <strong>
                                    MODULO NESSUS
                                </strong>
                                <span class="caret"></span>
                            </a>
                        </div>
                        <div class="collapse " id="Nessus">
                            <div class="panel-body ">
    
                                <table class="table" >
                                    <div class="method">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Nome
                                                </th>
                                                <th>
                                                    Comando
                                                </th>
    
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </div>
                                    <tbody>
                                        @foreach (var item in Model.ModuliNESSUS) { 
                                            <tr>
                                            <td>
                                               <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Nome)</a> 
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comando)
                                            </td>
                                          
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ID">Modifica</a> |
                                                <a asp-action="Delete" asp-route-id="@item.ID">Cancella</a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                        <div class="panel panel-sidebar">
                            <div class="panel-heading">
                                <a href="#" data-toggle="collapse" data-target="#OpenVAS">
                                    <strong>
                                        MODULO OPENVAS
                                    </strong>
                                    <span class="caret"></span>
                                </a>
                            </div>
                            <div class="collapse " id="OpenVAS">
                                <div class="panel-body ">
        
                                    <table class="table" >
                                        <div class="method">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Nome
                                                    </th>
                                                    <th>
                                                        Comando
                                                    </th>
        
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </div>
                                        <tbody>
                                            @foreach (var item in Model.ModuliNMAP)
    {
                                        <tr>
                                            <td>
                                                  <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Nome)</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comando)
                                            </td>

                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ID">Modifica</a> |
                                                <a asp-action="Delete" asp-route-id="@item.ID">Cancella</a>
                                            </td>
                                        </tr>
}
                                            @foreach (var item in Model.ModuliNESSUS)
    {
                                        <tr>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Nome)</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comando)
                                            </td>

                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ID">Modifica</a> |
                                                <a asp-action="Delete" asp-route-id="@item.ID">Cancella</a>
                                            </td>
                                        </tr>
}
                                        </tbody>
                                    </table>
        
                                </div>
                            </div>
                        </div>
                    </div>

        
        </div>
         <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#web" data-toggle="collapse">
                            <strong>
                               WEB
                            </strong>
                           
                        </a>
                    </div>
            <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#wapiti">
                            <strong>
                                 WAPITI
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse " id="wapiti">
                        <div class="panel-body ">

                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Comando
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    @foreach (var item in Model.ModuliWAPITI) { 
                                    <tr>
                                        <td>
                                           <a asp-action="Details" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.Nome)</a> 
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comando)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ID">Modifica</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ID">Cancella</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                    <div class="panel panel-sidebar">
                        <div class="panel-heading">
                            <a href="#" data-toggle="collapse" data-target="#vedi">
                                <strong>
                                  vedi1
                                </strong>
                                <span class="caret"></span>
                            </a>
                        </div>
                        <div class="collapse " id="vedi">
                            <div class="panel-body ">
    
                                <table class="table" >
                                    <div class="method">
                                      
                                </table>
    
                            </div>
                        </div>
                    </div>
                </div>
                

        </div>
         <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#cms" data-toggle="collapse">
                            <strong>
                               CMS
                            </strong>
                           
                        </a>
                    </div>
            <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#droopescan">
                            <strong>
                                 DROOPE
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse " id="droopescan">
                        <div class="panel-body ">

                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Comando
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    @foreach (var item in Model.ModuliDROOPE) { 
                                    <tr>
                                        <td>
                                           <a asp-action="Details" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.Nome)</a> 
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comando)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ID">Modifica</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ID">Cancella</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                    <div class="panel panel-sidebar">
                        <div class="panel-heading">
                            <a href="#" data-toggle="collapse" data-target="#vedi">
                                <strong>
                                  vedi1
                                </strong>
                                <span class="caret"></span>
                            </a>
                        </div>
                        <div class="collapse " id="vedi">
                            <div class="panel-body ">
    
                                <table class="table" >
                                    <div class="method">
                                      
                                </table>
    
                            </div>
                        </div>
                    </div>
                </div>
                

        </div>
         <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#dns" data-toggle="collapse">
                            <strong>
                               DNS
                            </strong>
                           
                        </a>
                    </div>
            <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#dnsRecon">
                            <strong>
                                 DNSRECON
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse " id="dnsRecon">
                        <div class="panel-body ">

                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Comando
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    @foreach (var item in Model.ModuliDNSRECON) { 
                                    <tr>
                                        <td>
                                           <a asp-action="Details" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.Nome)</a> 
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comando)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ID">Modifica</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ID">Cancella</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                    <div class="panel panel-sidebar">
                        <div class="panel-heading">
                            <a href="#" data-toggle="collapse" data-target="#vedi">
                                <strong>
                                  vedi1
                                </strong>
                                <span class="caret"></span>
                            </a>
                        </div>
                        <div class="collapse " id="vedi">
                            <div class="panel-body ">
    
                                <table class="table" >
                                    <div class="method">
                                      
                                </table>
    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                        <div class="panel panel-sidebar">
                            <div class="panel-heading">
                                <a href="#" data-toggle="collapse" data-target="#vedi2">
                                    <strong>
                                        vedi2
                                    </strong>
                                    <span class="caret"></span>
                                </a>
                            </div>
                            <div class="collapse " id="vedi2">
                                <div class="panel-body ">
        
                                    <table class="table" >
                                        <div class="method">
                                           
                                    </table>
        
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
         <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#ig" data-toggle="collapse">
                            <strong>
                               INFORMATION GATHERING
                            </strong>
                           
                        </a>
                    </div>
            <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#infoga">
                            <strong>
                                 INFOGA
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse " id="infoga">
                        <div class="panel-body ">

                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Comando
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    @foreach (var item in Model.ModuliINFOGA) { 
                                    <tr>
                                        <td>
                                           <a asp-action="Details" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.Nome)</a> 
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comando)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ID">Modifica</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ID">Cancella</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
             <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a href="#" data-toggle="collapse" data-target="#infogae">
                            <strong>
                                 INFOGA EMAIL
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse " id="infogae">
                        <div class="panel-body ">

                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Comando
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    @foreach (var item in Model.ModuliINFOGAEMAIL) { 
                                    <tr>
                                        <td>
                                           <a asp-action="Details" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.Nome)</a> 
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comando)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ID">Modifica</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ID">Cancella</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
       
    </div>
