@model IEnumerable<webmva.Models.Progetto>

@{ ViewData["Title"] = "Resoconto Progetti"; }

<div class="container">
    <div class="row">
        <h2><em>Resoconto Progetti</em></h2>
        <p class="lead">
            I report presenti sono questi! Per importare un report in un progetto <a href="/Report/Import">clicca qui </a>!
        </p>
        <!--rivedere-->
        <hr />
        <div class="panel panel-default col-md-7" style="margin:0 auto; float:none;">
            <table class="table">
                <div class="method">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Nome Progetto
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                </div>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                        <td></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @if(@item.ListaReport.Count != 0){
                                            @Html.Raw("<a href=\"/Report/Lista/"+@item.ID+"\" >Lista report</a> <span class=\"glyphicon glyphicon-ok-sign\" style=\"color:green\"></span> | ")
                                            @Html.Raw("<a href=\"/Report/Tutti/"+@item.ID+"\" >Visualizza tutti i report</a> <span class=\"glyphicon glyphicon-folder-open\" style=\"color:green\"></span>")
                                        }
                                        else {
                                            @Html.Raw("Lista report <span class=\"glyphicon glyphicon-remove-sign\" style=\"color:red\" ></span> | ")
                                            @Html.Raw("Visualizza tutti i report <span class=\"glyphicon glyphicon-folder-open\" style=\"color:red\" ></span>")
                                        }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>