@model webmva.Models.Progetto 
@{ ViewData["Title"] = "Delete"; 
var contNMAP = 0;
var contNessus= 0;
var contOpenVAS = 0;
var contDnsRecon = 0;
var contDroope = 0;
var contInfoga = 0;
var contInfogaEmail = 0;
var contWapiti = 0;
var contSqlmap = 0;
var contWifite = 0;}
<br>
<div class="container">
<h2><em>Sei sicuro di voler cancellare il progetto</em><strong> @Html.DisplayFor(model => model.Nome) ?</strong></h2>
<hr />
<div class="col-md-12">
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
    <div class="row panel panel panel-default panel-body">
        <div class="col-md-12">
                    <dl class="dl-horizontal">
                        <div class="col-sm-9"style="margin:5ex; float:none">
                         <div class="form-group row">
                                                <h4>Nome Progetto</h4><hr />
                                                <dd>  @Html.DisplayFor(model => model.Nome)
                                            </dd>

                            </div>
                            </div>
                           <div class="col-sm-9"style="margin:5ex; float:none">
                         <div class="form-group row">
                                                <h4>Descrizione</h4><hr />
                                                <dd>  @Html.DisplayFor(model => model.Descrizione)
                                            </dd>

                            </div>
                            </div> 
                            <!--<dt>
                                <strong> Target </strong>
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Target)
                            </dd><hr>
                        </div>-->
                        <div class="col-sm-9"style="margin:5ex; float:none">
                         <div class="form-group row">
                                                <h4>Moduli Selezionati</h4><hr />
                                
                        @foreach(var item in Model.ModuliProgetto) {
                            
                            if(item.Modulo is webmva.Models.ModuloNMAP) {contNMAP++;}
                            if(item.Modulo is webmva.Models.ModuloNESSUS) {contNessus++;}
                            if(item.Modulo is webmva.Models.ModuloNMAP) {contOpenVAS++;}
                            if(item.Modulo is webmva.Models.ModuloDNSRECON) {contDnsRecon++;}
                            if(item.Modulo is webmva.Models.ModuloDROOPE) {contDroope++;}
                            if(item.Modulo is webmva.Models.ModuloINFOGA) {contInfoga++;}
                            if(item.Modulo is webmva.Models.ModuloINFOGAEMAIL){contInfogaEmail++;}
                            if(item.Modulo is webmva.Models.ModuloWAPITI) {contWapiti++;}
                            if(item.Modulo is webmva.Models.ModuloSQLMAP) {contSqlmap++;}
                            if(item.Modulo is webmva.Models.ModuloWIFITE) {contWifite++;}
                        }
                        @if(contNMAP!=0){
                                
                            <dd>Nmap</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloNMAP){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        }
                           @if(contNessus!=0){
                                
                            <dd>Nessus</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloNESSUS){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        }
                        @if(contOpenVAS!=0){
                                
                            <dd>OpenVAS</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloNMAP){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        } 
                        @if(contDnsRecon!=0){
                                
                            <dd>Dnsrecon</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloDNSRECON){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        } 
                        @if(contDroope!=0){
                                
                            <dd>Droope</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloDROOPE){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        }  
                        @if(contInfoga!=0){
                                
                            <dd>Infoga</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloINFOGA){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        } 
                          @if(contInfogaEmail!=0){
                                
                            <dd>Infoga Email</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloINFOGAEMAIL){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        } 
                         @if(contWapiti!=0){
                                
                            <dd>Wapiti</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloWAPITI){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        } 
                         @if(contSqlmap!=0){
                                
                            <dd>Sqlmap</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloSQLMAP){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        } 
                         @if(contWifite!=0){
                                
                            <dd>Wifite</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloWIFITE){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        } 
                                
            <div class="col-xs-6 col-sm-offset-9 text-right">
                     <br>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" asp-action="Delete" asp-route-id="@Model.ID" value="Cancella">&nbsp;&nbsp;&nbsp; |&nbsp;
                        <a asp-action="Index">  Torna alla lista</a>
                    </div>
                </div>                    
        </div>

    </div>
    </form>
    </div>
</div>