@model webmva.Models.Progetto 
@{ ViewData["Title"] = "Dettagli"; }

<h2>Dettagli @Html.DisplayFor(model => model.Nome)</h2>
<hr />
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="container">
            <div class="form-group">
                <div class="col-md-7">
                    <dl class="dl-horizontal">
                        <div class="panel-body">

                            <dt>
                                <strong> Nome del Progetto </strong>
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Nome)
                            </dd>
                        </div>
                        <dt>
                            <strong> Scegli il Modulo </strong>
                        </dt>

                        <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>

                                </tr>
                                @foreach (var item in Model.ModuliProgetto) {
                                <tr>
                                        <td><input type="checkbox" id="checkall" >
                                        </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                                }
                            </table>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-8 text-right">
                    <div class="form-group">
                        <a asp-action="Edit" asp-route-id="@Model.ID">Edit </a>|
                        <a asp-action="Index"> Back to List</a>
                    </div>
                </div>
            </div>
        </div>

    </div>