@model webmva.Models.Progetto 
@{ ViewData["Title"] = "Dettagli"; 
var contNMAP = 0;
var contNessus= 0;
var contOpenVAS = 0;}
<form name="modulo">
<
<h2>Dettagli @Html.DisplayFor(model => model.Nome)</h2>
  <a  class="btn btn-default"asp-action="Run" asp-route-id="@Model.ID"> Avvia scan</a>
 
<hr />
<div class="container">
    <div class="panel panel-default">
        <div class="col-10">
            <div class="form-group">
                
                    <dl class="dl-horizontal">
                        <div class="panel-body">
                            
                            <dt>
                                <strong> Nome del Progetto </strong>
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Nome)
                            </dd><hr>
                            
                         <dt>
                            <strong>  Descrizione </strong>
                        </dt>
                         <dd> 
                       
                         @Html.DisplayFor(model => model.Descrizione)
                        
                    </dd> <hr>
                            <dt>
                                <strong> Taget </strong>
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Target)
                            </dd><hr>
                        </div>
                        <dt>
                            <strong>  Moduli selezionati </strong>
                        </dt>
                        @foreach(var item in Model.ModuliProgetto) {
                            
                            if(item.Modulo is webmva.Models.ModuloNMAP) {contNMAP++;}
                            if(item.Modulo is webmva.Models.ModuloNESSUS) {contNessus++;}
                            if(item.Modulo is webmva.Models.ModuloNMAP) {contOpenVAS++;}
                        }
                        @if(contNMAP!=0){
                                
                            <dd>nmap</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloNMAP){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        }
                           @if(contNessus!=0){
                                
                            <dd>nessus</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloNESSUS){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        }
                        @if(contOpenVAS!=0){
                                
                            <dd>openvas</dd>
                            <dd>
                            <table class="table">
                                <tr>
                                    <th> </th>
                                    <th>Modulo</th>
                                    <th>Comando</th>
                                </tr>
                        @foreach (var item in Model.ModuliProgetto) {
                            
                                @if(item.Modulo is webmva.Models.ModuloNMAP){
                                <tr>
                                <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modulo.Comando)
                                    </td>
                                </tr>
                               
                                }
                                }
                                </table>
                                </dd>    
                        }  
                                
                                
            <div class="container">
                    <div class="form-group col-sm-6 ">
                        <a  class="btn btn-default"asp-action="Edit" asp-route-id="@Model.ID"> Modifica </a> |
                        <a asp-action="Index"> Torna alla lista</a>
                   </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </form>