@model webmva.Models.Progetto;
 @{ ViewData["Title"] = "Edit"; 
    
 }
<div class="container">
    <h2>Modifica Progetto</h2>
    <hr />
    <div class="row panel panel-default col-md-9">
        <!--<div class="col-md-9">-->
            @{List<webmva.ViewModels.ModuliInseriti> listaModuli = ViewBag.Moduli;
                 <form asp-action="Edit">
           <!-- <div asp-validation-summary="ModelOnly" class="text-danger"></div>--> 
            <input type="hidden" asp-for="@Model.ID" />
            <div class="form-group">
                <br>
                <label asp-for="@Model.Nome" class="control-label"></label>
                <input asp-for="@Model.Nome" class="form-control" />
               <!-- <span asp-validation-for="@Model.Nome" class="text-danger"></span>-->
                
                <br>
                <label asp-for="@Model.Target" id="Target" class="control-label"></label>
                <input asp-for="@Model.Target" class="form-control" onfocusout="checkIP()" />
                <!--<span asp-validation-for="@Model.Target" class="text-danger"></span>-->
               <span name="TargetValidation" style="font-family: serif;font-size: 14px;color: #FF0000;"></span>
    
                
                  <br>
                  <h5><strong>Scegli il modulo</strong></h5>
                 
                <div class="panel panel-default">
                    <div class="panel-heading">
					<a   data-toggle="collapse"  href="#Nmap">Nmap</a><br>
                    </div>
                    <div class="collapse" id="Nmap">
                     <div class="panel-body ">
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.NMAP){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                      
    
					<div class="panel panel-default">
                    <div class="panel-heading">
					<a   data-toggle="collapse"  href="#Nessus">Nessus</a><br>
                    </div>
                    <div class="collapse" id="Nessus">
                     <div class="panel-body ">
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto2" onclick="SelezTT2()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                        
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.NESSUS){continue;}
                                             
                                        <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td><td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                      </div>
                      <div class="panel panel-default">
                    <div class="panel-heading">
					<a   data-toggle="collapse"  href="#OpenVAS">OpenVAS</a><br>
                    </div>
                    <div class="collapse" id="OpenVAS">
                     <div class="panel-body ">
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto3" onclick="SelezTT3()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                        
                                        var tipo = item.GetType(); 
                                            if(tipo!= typeof(webmva.Models.ModuloNMAP)){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                     <div class="panel panel-default">
                    <div class="panel-heading">
					<a   data-toggle="collapse"  href="#DNSRECON">DnsRecon</a><br>
                    </div>
                    <div class="collapse" id="DNSRECON">
                     <div class="panel-body ">
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT4()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.DNSRECON){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                    <div class="panel-heading">
					<a   data-toggle="collapse"  href="#DROOPE">Droope</a><br>
                    </div>
                    <div class="collapse" id="DROOPE">
                     <div class="panel-body ">
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.DROOPE){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                    <div class="panel-heading">
					<a   data-toggle="collapse"  href="#INFOGA">Infoga</a><br>
                    </div>
                    <div class="collapse" id="INFOGA">
                     <div class="panel-body ">
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.INFOGA){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                        <div class="panel panel-default">
                    <div class="panel-heading">
					<a   data-toggle="collapse"  href="#INFOGAEMAIL">Infoga Email</a><br>
                    </div>
                    <div class="collapse" id="INFOGAEMAIL">
                     <div class="panel-body ">
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.INFOGAEMAIL){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                          <div class="panel panel-default">
                    <div class="panel-heading">
					<a   data-toggle="collapse"  href="#WAPITI">Wapiti</a><br>
                    </div>
                    <div class="collapse" id="WAPITI">
                     <div class="panel-body ">
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.WAPITI){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                          <div class="panel panel-default">
                    <div class="panel-heading">
					<a   data-toggle="collapse"  href="#SQLMAP">Sqlmap</a><br>
                    </div>
                    <div class="collapse" id="SQLMAP">
                     <div class="panel-body ">
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.SQLMAP){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                          <div class="panel panel-default">
                    <div class="panel-heading">
					<a   data-toggle="collapse"  href="#WIFITE">Wifite</a><br>
                    </div>
                    <div class="collapse" id="WIFITE">
                     <div class="panel-body ">
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.WIFITE){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                      
                     	
                
            
                <br>
                <div class="col-md-12">
                <label for="descrizione">Descrizione</label>
                <textarea class="form-control" id="descrizione" placeholder="descrizione del progetto" rows="5" cols="40" style="resize:none"
                    maxlength="1000" asp-for="@Model.Descrizione"></textarea>
            </div>
        

            <div class="form-group col-sm-6 "><br>
                <input type="submit" value="Salva" class="btn btn-default" /> |
                 <a asp-action="Index"> Torna alla lista</a>
                 </div>
          
                </form>
                 
                 
                 }
        
            </div>

    </div>
</div>


}
