@model webmva.Models.Progetto;
 @{ ViewData["Title"] = "Edit"; 
    
 }
<div class="container">
    <h2><em>Modifica Progetto</em><strong> @Model.Nome</strong></h2>
    <hr />
            @{List<webmva.ViewModels.ModuliInseriti> listaModuli = ViewBag.Moduli;
            <form asp-action="Edit" name="modificaProgetto">
           <!-- <div asp-validation-summary="ModelOnly" class="text-danger"></div>--> 
            <input type="hidden" asp-for="@Model.ID" />
             <div class="row panel panel-default panel-body">
             <div class="col-sm-12">
             <br>
            <div class="col-sm-7" style="margin:0 auto; float:none">
                        <div class="form-group">
                            <h4 asp-for="@Model.Nome">Nome Modulo  </h4><hr/>
                            <input class="form-control" asp-for="@Model.Nome" />
                        </div>
                    </div>
                  <br>
                  <h4><strong>Scegli il modulo</strong></h4><hr/>
                 
                <div class="panel panel-default">
                    <div class="panel-heading">
                     <a href="#network" data-toggle="collapse">
                    <strong>
                        NETWORK
                    </strong>

                </a></div>
                 <div class="col-5">
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
					<a data-toggle="collapse" href="#Nmap"><strong>NMAP</strong>
                     <span class="caret"></span></a><br>
                    </div>
                    <div class="collapse" id="Nmap">
                     <div class="panel-body ">
                       <div class="col-sm-7">
                                        <div class="form-group">
                                            <h4 asp-for="@Model.Target">Target</h4><hr/>
                                            <input class="form-control" asp-for="@Model.Target" />
                                        </div>
                                    </div><br>
                                    <div class="col-sm-12">
                                     <h4>Seleziona i moduli NMAP</h4><hr/>
                                    </div>
                            <table class="table">
                                <div class="method">
                               
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.NMAP){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                      
    
					<div class="panel panel-sidebar">
                    <div class="panel-heading">
					<a  data-toggle="collapse" href="#Nessus"><strong>NESSUS</strong>
                    <span class="caret"></span></a><br>
                    </div>
                    <div class="collapse" id="Nessus">
                     <div class="panel-body ">
                     <div class="col-sm-7">
                                        <div class="form-group">
                                            <h4 asp-for="@Model.Target">Target</h4><hr/>
                                            <input class="form-control" asp-for="@Model.Target" />
                                        </div>
                                    </div><br>
                                    <div class="col-sm-12">
                                     <h4>Seleziona i moduli NESSUS</h4><hr/>
                                    </div>
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto2" onclick="SelezTT2()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                        
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.NESSUS){continue;}
                                             
                                        <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td><td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                     
                     <div class="panel panel-sidebar">
                    <div class="panel-heading">
					<a data-toggle="collapse" href="#OpenVAS"><strong>OPENVAS</strong>
                    <span class="caret"></span></a><br>
                    </div>
                    <div class="collapse" id="OpenVAS">
                     <div class="panel-body ">
                     <div class="col-sm-7">
                                        <div class="form-group">
                                            <h4 asp-for="@Model.Target">Target</h4><hr/>
                                            <input class="form-control" asp-for="@Model.Target" />
                                        </div>
                                    </div><br>
                                    <div class="col-sm-12">
                                     <h4>Seleziona i moduli OpenVAS</h4><hr/>
                                    </div>
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto3" onclick="SelezTT3()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                        
                                        var tipo = item.GetType(); 
                                            if(tipo!= typeof(webmva.Models.ModuloNMAP)){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                      </div>
                      </div>
                     <div class="panel panel-default">
                    <div class="panel-heading">
                    <a href="#web" data-toggle="collapse">
                    <strong>
                        WEB
                    </strong>

                </a>
            </div>
             <div class="panel panel-sidebar">
                    <div class="panel-heading">
					<a  data-toggle="collapse" href="#WAPITI"><strong>WAPITI</strong>
                      <span class="caret"></span></a><br>
                    </div>
                    <div class="collapse" id="WAPITI">
                     <div class="panel-body ">
                     <div class="col-sm-7">
                                        <div class="form-group">
                                            <h4 asp-for="@Model.Target">Url</h4><hr/>
                                            <input class="form-control" asp-for="@Model.Target" />
                                        </div>
                                    </div><br>
                                     
                                    <div class="col-sm-12">
                                     <h4>Seleziona i moduli WAPITI</h4><hr/>
                                    </div>
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.WAPITI){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                      </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                <a href="#dns" data-toggle="collapse">
                    <strong>
                        CMS
                    </strong>

                </a>
            </div>
             <div class="panel panel-sidebar">
                    <div class="panel-heading">
                    <a   data-toggle="collapse" href="#droopescan">
                            <strong>
                                DROOPESCAN
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse" id="droopescan">
                     <div class="panel-body " >
                      <div class="col-sm-7">
                                        <div class="form-group">
                                            <h4 asp-for="@Model.Target">Target</h4><hr/>
                                            <input class="form-control" asp-for="@Model.Target" />
                                        </div>
                                    </div><br>
                                    
                                    <div class="col-sm-12">
                                     <h4>Seleziona i moduli DROOPE</h4><hr/>
                                    </div>
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.DROOPE){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                        </div>
                          <div class="panel panel-sidebar">
                    <div class="panel-heading">
                    <a   data-toggle="collapse" href="#joomscan">
                            <strong>
                                JOOMSCAN
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse" id="joomscan">
                     <div class="panel-body " >
                      <div class="col-sm-7">
                                        <div class="form-group">
                                            <h4 asp-for="@Model.Target">Target</h4><hr/>
                                            <input class="form-control" asp-for="@Model.Target" />
                                        </div>
                                    </div><br>
                                    
                                    <div class="col-sm-12">
                                     <h4>Seleziona i moduli JOOMSCAN</h4><hr/>
                                    </div>
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.JOOMSCAN){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                        </div>
                      </div>
       <div class="panel panel-default">
                    <div class="panel-heading">
					<a href="#dns" data-toggle="collapse">
                    <strong>
                        DNS
                    </strong>

                </a>
            </div>
            <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#dnsRecon">
                            <strong>
                                DNSRECON
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse" id="dnsRecon">
                     <div class="panel-body ">
                      <div class="col-sm-7">
                                        <div class="form-group">
                                            <h4 asp-for="@Model.Target">Target</h4><hr/>
                                            <input class="form-control" asp-for="@Model.Target" />
                                        </div>
                                    </div><br>
                                    <div class="col-sm-12">
                                     <h4>Seleziona i moduli DNSRECON</h4><hr/>
                                    </div>
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.DNSRECON){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                      </div>
                      <div class="panel panel-default">
                    <div class="panel-heading">
				 <a href="#ig" data-toggle="collapse">
                    <strong>
                        INFORMATION GATHERING
                    </strong>

                </a>
                    </div>
                    <div class="panel panel-sidebar">
                    <div class="panel-heading">
                    <a data-toggle="collapse"  href="#infoga">
                    <strong>
                                INFOGA
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse " id="infoga">
                     <div class="panel-body ">
                     <div class="col-sm-7">
                                        <div class="form-group">
                                            <h4 asp-for="@Model.Target">Dominio</h4><hr/>
                                            <input class="form-control" asp-for="@Model.Target" />
                                        </div>
                                    </div><br>
                                    <div class="col-sm-12">
                                     <h4>Seleziona i moduli INFOGA</h4><hr/>
                                    </div>
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.INFOGA){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                        </div>
                        
                      
                        <div class="panel panel-sidebar">
                    <div class="panel-heading">
					<a   data-toggle="collapse"  href="#INFOGAEMAIL"><strong>INFOGA EMAIL</strong>
                     <span class="caret"></span></a><br>
                    </div>
                    <div class="collapse" id="INFOGAEMAIL">
                     <div class="panel-body ">
                     <div class="col-sm-7">
                                        <div class="form-group">
                                            <h4 asp-for="@Model.Target">Email</h4><hr/>
                                            <input class="form-control" asp-for="@Model.Target" />
                                        </div>
                                    </div><br>
                                    <div class="col-sm-12">
                                     <h4>Seleziona i moduli INFOGA EMAIL</h4><hr/>
                                    </div>
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.INFOGAEMAIL){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                      </div>
                     <div class="panel panel-default">
                    <div class="panel-heading">
					<a href="#database" data-toggle="collapse">
                    <strong>
                        DATABASE
                    </strong>
                </a>
                    </div>
                    <div class="panel panel-sidebar">
                    <div class="panel-heading">
                        <a   data-toggle="collapse" href="#sqlmap">
                            <strong>
                                SQLMAP
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse" id="sqlmap">
                     <div class="panel-body ">
                      <div class="col-sm-7">
                                        <div class="form-group">
                                            <h4 asp-for="@Model.Target">Url</h4><hr/>
                                            <input class="form-control" asp-for="@Model.Target" />
                                        </div>
                                    </div><br>
                                    <div class="col-sm-12">
                                     <h4>Seleziona i moduli SQLMAP</h4><hr/>
                                    </div>
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT4()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.SQLMAP){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
   </div>
                 
                   
                    <div class="panel panel-default">
                    <div class="panel-heading">
                     <a href="#wifi" data-toggle="collapse">
                    <strong>
                       WIFI
                    </strong>

                </a>
                </div>
                <div class="panel panel-sidebar">
                    <div class="panel-heading">
					<a data-toggle="collapse" href="#wifite">
                            <strong>
                                WIFITE
                            </strong>
                            <span class="caret"></span>
                        </a>
                    </div>
                    <div class="collapse" id="wifite">
                     <div class="panel-body ">
                     <div class="col-sm-7">
                                        <div class="form-group">
                                            <h4 asp-for="@Model.Target">Interfaccia??</h4><hr/>
                                            <input class="form-control" asp-for="@Model.Target" />
                                        </div>
                                    </div><br>
                                    <div class="col-sm-12">
                                     <h4>Seleziona i moduli WIFITE</h4><hr/>
                                    </div>
                            <table class="table">
                                <div class="method">
                                    <thead>
                                        <tr>
                                            <th></th>
                                             <th>
                                        Nome
                                            </th>
                                            <th>
                                        Comando
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody>
                                    <tr>
                                        <td>
                                    <input type="checkbox" name="selezionaTutto1" onclick="SelezTT1()" > <label> Scegli tutti</label><br>
                                        </td>
                                    </tr>
                                    @foreach (var item in listaModuli) {
                                       
                                        
                                            if(item.Applicazione!= webmva.Models.APPLICAZIONE.WIFITE){continue;}
                                             <tr>
                                                <td>
                                                    <input type="checkbox"
                                                        name="moduliSelezionati"
                                                        value="@item.ModuloID"
                                                        @(Html.Raw(item.Inserito ? "checked=\"checked\"" : "")) />
                                                        
                                                </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comando)
                                                </td>
                                            </tr>       
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>
                      </div>
                      </div>
                     	
                
            
                <br>
            
                <div class="col-md-12">
                <h4 for="descrizione" asp-for="@Model.Descrizione">Descrizione</h4><hr/>
                <textarea class="form-control" id="descrizione" placeholder="descrizione del progetto" rows="5" cols="40" style="resize:none"
                    maxlength="1000" asp-for="@Model.Descrizione"></textarea>
            </div>
        <div class="col-sm-6 col-sm-offset-6 text-right"><br>
                                        <div class="form-group">
                                            <input type="submit"class="btn btn-default" value="Salva" />&nbsp;&nbsp;|
                                            <a asp-action="Index"> Torna alla lista</a>
                                        </div>
                                    </div>
          </div>
                </form>
                
                 
                 }
                 </div>
        </div>
          



