@model IEnumerable<webmva.Models.Progetto>

@{ ViewData["Title"] = "Progetti"; }

<div class="container">
    <div class="row">
        <h2><em>Progetti</em></h2>
        <p class="lead">
            I progetti presenti sono questi! Per creare un nuovo progetto <a href="/Progetto/Create">clicca qui </a>!
        </p>
        <!--rivedere-->
        <hr />
        <div class="panel panel-default col-md-10 col-md-offset-1">
            <table class="table">
                <div class="method">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                </div>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.Nome)</a>
                            </td>

                            <td>
                                <div class="col-sm-8 col-sm-offset-5">
                                    <a asp-action="Edit" asp-route-id="@item.ID">Modifica </a> |
                                    <a asp-action="Details" asp-route-id="@item.ID">Avvia scan </a> |
                                    <a asp-action="Delete" asp-route-id="@item.ID">Cancella </a>
                                    @if (@item.ListaReport.Count != 0)
                                    {
                                        @Html.Raw(" | <a href=\"/Report/Lista/" + @item.ID + "\" >Lista report</a> <span class=\"glyphicon glyphicon-ok-sign\" style=\"color:green\"></span>")
                                    }
                                    else
                                    {
                                        @Html.Raw(" | Lista report <span class=\"glyphicon glyphicon-remove-sign\" style=\"color:red\" ></span>")
                                    }
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>